body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-image: url(woilah.jpg);
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 300px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    
}
.title p{
font-size: 20px;
font-weight: 600;
}
.menu ul{
    list-style: none;
}
.menu ul li{
    display: inline-block;
    margin-right: 20px;
}
.menu ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500; 
    

} 


.menu ul li a:hover{
    border-bottom: 2px solid black;
    transition: ease-in 0.3s;
    color: gray;
    break-after: 0.5s;
    
    
    
}

.hero{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    
}
.hero-content p{
    font-size: 45px;
    font-weight: bold;
    margin: 0;
    
}
.hero-content P span{
    color: gold;
    font-size: 50px;
}
.hero-content button{
    background-color: gold;
    color: white;
    border: none;
    padding: 15px 50px;
    border-radius: 5px;
    margin: 4px;
    animation: float 4s ease-in-out infinite;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}
.hero-content button:hover{
    background-color: white;
    color: gold ;
    transition: 0.5s;
    transform: scale(1.2);
    
}
.hero-image{
    background-color: gold;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 65px;
    
    margin-bottom: 35px;
    margin-top: 45px;
    border-radius: 100px 100px 100px 100px;
    border: 0;
    
}
.hero-image img{
    height: 90%;
    width: 90%;
    
}
.sosial-media{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    animation: float 4s ease-in-out infinite;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
     
}
.sosial-media ul{
    list-style: none;
    
}
.sosial-media ul li{
    display: inline-block;
    margin-right: 20px;
    
}
.sosial-media ul li a{
    text-decoration: none;
    color: gold;
    font-size: 24px;
    
}

.sosial-media ul li a i:hover{
    transform: scale(1.7);
}
.about{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 120px;
    background-color: gold;
    height: 103vh;
}
.about-skill{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-left: 55px;

}
.about-box{
     width: 140px;
  height: 120px;
  background: var(--card);
  border-radius: 16px;
  display: grid;
  place-items: center;
  font-weight: 600;
  box-shadow: 0 8px 20px var(--shadow);
  animation: float 4s ease-in-out infinite;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 20px;
    
    
}

.about-box:hover{
     transform: translateY(-12px) scale(1.10);
  box-shadow: 0 10px 30px rgba(180, 143, 47, 0.25);
}






.about-box img{
    width: 150px;
    height: 150px;
    border-radius: 30px;
}


.about-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;

}
.about content p{
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
}
.about-content-section{
    color: white;
    font-size: 25px;
    font-weight: 300;

}
.about-content-title{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}
.about-content-desc{
    color: white;
    font-size: 18px;
    font-weight: 300;
}
.btn{
    background-color: white;
    color: gold;
    border: none;
    padding: 15px 50px;
    border-radius: 5px;
    margin: 4px;
    animation: float 4s ease-in-out infinite;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.btn:hover{
    background-color: black;
    color: gold;
    transition: 0.5s;
    transform: scale(1.2);

}

.skillku{
    
    justify-content: space-around;
    align-items: center;
    gap: 120px; 
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.yoo{
       display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
    

}
.yoo-box{
   margin-bottom: 160px;
    margin-left: 50px;
    margin-right: 50px;
    width: 160px;
  height: 120px;
  background: var(--card);
  border-radius: 16px;
  display: grid;
  place-items: center;
  font-weight: 600;
  box-shadow: 0 8px 20px var(--shadow);
  animation: float 4s ease-in-out infinite;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
   


.yoo-box img{
    height: 170px;
    width: 170px;
    border-radius: 50px;
}

.yoo-box:hover{
     transform: translateY(-12px) scale(1.10);
  box-shadow: 0 10px 30px rgba(180, 143, 47, 0.25);
}

.yoo-box:nth-child(2) { animation-delay: .3s; }
.yoo-box:nth-child(3) { animation-delay: .6s; }
.yoo-box:nth-child(4) { animation-delay: .9s; }




.yooo-skill{
    color: rgb(0, 0, 0) ;
    font-size: 40px;
    font-weight: bold;
    margin-left: 500px;
    margin-right: 50px;
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;

    
    
}

.floating-button{
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: gold;
    border-radius: 50%;
    bottom: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-size: 25px;
    display: none;
}
.floating-button:hover{
    transform: translateY(-10px);
    transition: 0.5s; 
    transform: scale(1.3);
}

.project {
  padding: 80px ;
  background-color: gold; /* warna emas */
  text-align: center;
  height: 500px;
}

.section-title {
  font-size: 30px;
  font-weight: 700;
  color: white;
  margin-bottom: 10px;
}

.section-subtitle {
  color: white;
  font-size: 34px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.project-card {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  transition: 0.4s ease;
  transform: translateY(0);
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0,0,0,0.15);
}

.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.project-card h3 {
  color: #333;
  margin: 15px 0 5px;
}

.project-card p {
  padding: 0 20px;
  font-size: 14px;
  color: #555;
}

.project-card .btn {
  display: inline-block;
  margin: 15px 25px;
  padding: 10px 20px;
  background: gold;
  color: white;
  border-radius: 30px;
  transition: 0.3s;
}

.project-card .btn:hover {
  background: #ffbf00;
}

.contact{
     padding: 60px;
     
}
.contact-kontainer{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
  padding-left: 55px;
  padding-bottom: 10px;
  padding-top: 5px;
}
.contact-kiri{
  flex: 1 1 50%;
}
.contact-kiri h2{
  font-size: 64px;
  margin-bottom: 10px;
  font-weight: 700;
}
.contact-kiri p {
  font-size: 20px ;
  margin-bottom: 20px;
}
.contact-form{
  display: flex;
  flex-direction: column;
  gap: 12px;
 
}
.contact-form input,
.contact-form textarea {
  width: 70%;
  padding: 12px 14px;
  border: 1,5px solid gold;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.2s;
  
}

.contact-form textarea:focus {
  border-color: gold;
  box-shadow: 0 0 5px grey;
  
}

.contact-form button{
  background-color: gold;
  color: black;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 12px;
  width: 50%;
  cursor: pointer;
  transition: 0.3s;


  

}
.contact-form button:hover {
  background-color: gold;
  transform: scale(1.03);
  
  

}
.contact-kanan{
  flex: 1 1 35%;
  padding-left: 55px;

}

.contact-kanan h3{
  font-size: 44px;
  padding-top: 40px;
 
}
.contact-kanan ul {
  list-style: none;
  padding: 0;

}

.contact-kanan li{
  margin-bottom: 10px;
  font-size: 20px;
}
.menu-bars{
  display: none;
}
.title-responsive{
  display: none;
}
.sidebar-responsive{
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 2px 0 5px grey;
  padding: 20px;
  display: none;
  flex-direction: column;
  gap: 30px;

}
.sidebar-responsive ul{
    list-style: none;
}
.sidebar-responsive ul li{

    margin-bottom: 20px;
}
.sidebar-responsive ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500; 
    

} 


.sidebar-responsive ul li a:hover{
    border-bottom: 2px solid black;
    transition: ease-in 0.3s;
    color: gray;
    break-after: 0.5s;
    
    
    
}
@media screen and (max-width:768px){
  .title{
    display: none;
  }
  .title-responsive{
    display: none;
    font-size: 20px;
    font-weight: 600;
  }
  .menu{
    display: none;
  }
  .menu-bars{
    display: block;
    font-size: 24px;
    cursor: pointer;
  }
}
@media screen and (max-width:480px){
   .header{
    gap: 100px;
  }
  .hero{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 50px;
    margin-left: 20px;
    
  }
  .hero-content P{
    font-size: 40px;
  }
  .hero-image{
    background-color: gold;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 65px;
    
    margin-bottom: 35px;
    margin-top: 45px;
    border-radius: 100px 100px 100px 100px;
    border: 0;
  }
  .hero-image img{
    margin-right: 150px;
    margin-left: -20px;
    margin-top: 10px;
  }
  .about{
    flex-direction: column;
    height: auto;
    padding: 50px 0;
    gap: 0px;
  }
  .about-skill{
    flex-direction: column;

  }
 
  .skillku{
    flex-direction: column;
  }
  .project{
   flex-direction: column;
  }
  .contact{
    flex-direction: column;
  }
  
}



